<br>

<a routerLink="/" class="h2">Retour</a>

<form (ngSubmit)="editStaff()">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <input [(ngModel)]="nom" name="nom" type="text" class="form-control" placeholder="Pseudo" required>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <input [(ngModel)]="photo" name="photo" class="form-control" type="text" placeholder="mario.gif">
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          <select id="chapitre" class="form-control" required>
            <option value={{chapitre}} selected hidden> {{chapitre}} </option>
            <option *ngFor="let chap of listChapter" value={{chap}}>{{chap}}</option>
          </select>
        </h6>
        <p class="card-text">
          <input [(ngModel)]="card" name="card" type="text" class="form-control" placeholder="Card (non obligatoire)">
        </p>
        <p class="card-text">
          <input [(ngModel)]="description" name="description" type="text" class="form-control" placeholder="Description (non obligatoire)">
        </p>
        <p class="card-text">
          <input [(ngModel)]="nomLien" name="nomLien" type="text" class="form-control" placeholder="nom du site (non obligatoire)">
        </p>
        <p class="card-text">
          <input [(ngModel)]="lien" name="lien" type="text" class="form-control" placeholder="Lien (non obligatoire)">
        </p>
        <button type="submit" class="card-link text-center float-end">Modifier</button>
      </div>
    </div>
  </div>
</form>
