body {
  background-color: black;
  font-family: determination;
  color: white;

  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

@font-face {
  font-family: determination;
  src: url("assets/DeterminationSansWeb.woff");
}

@font-face {
    font-family: monsterfriend;
    src: url("assets/monsterfriend.otf");
}
