a {
  color: white;
}

.buttonNumber {
  text-decoration: none;
  font-size: 41px;
  color: white;
  border: white 2px solid;
  padding: 3px 10px;
  background-color: black;
}

.buttonNumber:hover {
  cursor: pointer;
  transition: 0.4s;
  color: yellow;
  border: yellow 2px solid;
  text-decoration: none;
}
