<ul class="nav justify-content-center" style="font-size: 150%;">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Staff</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/beta">Beta-Testeur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="/voix">Doubleur (bientôt)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/progression">Progression</a>
  </li>
</ul>
<div class="text-center h3">
  <button (click)="moins(chapitre)" class="buttonNumber">-</button>
  Chapitre max : {{chapitre}}
  <button (click)="plus(chapitre)" class="buttonNumber">+</button>
  <br>
  <h6>(faut refresh après)</h6>
</div>
