<ul class="nav justify-content-center" style="font-size: 150%;">
  <li class="nav-item">
    <a class="nav-link" routerLink="/staff">Staff</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Traducteurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/beta">Beta-Testeurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/voix">Doubleurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/progression">Progression</a>
  </li>
</ul>
<div class="text-center h1">
<ins>{{title}}</ins>
</div>
<div class="text-center h3">
  <button (click)="moins(chapitre)" class="buttonNumber">-</button>
  Chapitre max : {{chapitre}}
  <button (click)="plus(chapitre)" class="buttonNumber">+</button>
</div>
