<br><br>
<div class="container">
  <ng-container *ngFor="let p of staffs; let i = index">
    <div class="row align-items-start" *ngIf="(i%3)==0">
      <div class="col" *ngFor="let staff of staffs.slice(i, i+3)">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> </h5>
            <h6 class="card-subtitle mb-2"> Chapitre </h6>
            <h6 class="card-subtitle mb-2" *ngIf="staff.card ;else nocard">{{staff.card}} </h6>
            <ng-template #nocard> <h6 class="card-subtitle mb-2 text-muted">aucune card</h6> </ng-template>
            <p class="card-subtitle mb-2" *ngIf="staff.description ;else nodesc"> {{staff.description}} </p>
            <ng-template #nodesc> <h6 class="card-subtitle mb-2 text-muted">aucune description</h6> </ng-template>
            <p class="card-test">Lien : <a href={{staff.lien}} target="_blank"> {{staff.nomLien}} </a> </p>
            <a href="#" class="card-link text-muted">Modifier (bientôt) </a>
            <a href="#" class="card-link link-danger">Supprimer</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!--
<ul class="list-group">
  <form (ngSubmit)="setStaff()">
    nom :
    <input [(ngModel)]="nom" name="nom" class="form-control" type="text">
    photo (ex : mario.gif)
    <input [(ngModel)]="photo" name="photo" class="form-control" type="text">
    description (non obligatoire)
    <input [(ngModel)]="description" name="description" class="form-control" type="text">
    card (non obligatoire)
    <input [(ngModel)]="card" name="card" class="form-control" type="text">
    lien (non obligatoire)
    <input [(ngModel)]="lien" name="lien" class="form-control" type="text">
    nomlien (non obligatoire)
    <input [(ngModel)]="nomLien" name="nomLien" class="form-control" type="text">
    chapitre
    <input [(ngModel)]="chapitre" name="chapitre" class="form-control" type="number">
    <br>
    <input type="submit" class="btn btn-primary btn-block mb-4">
  </form>
</ul> -->
